<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436224948921-us1mi06p0gfmv76q01mi0oianlkhppd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436224948921-us1mi06p0gfmv76q01mi0oianlkhppd1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>436224948921-9m86ioo4tthes5e81vohton5qg469r68.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDJcVLDculM0TnXICHdT95e0B-sBekTWk</string>
	<key>GCM_SENDER_ID</key>
	<string>436224948921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ik.ikdriver</string>
	<key>PROJECT_ID</key>
	<string>iklogo</string>
	<key>STORAGE_BUCKET</key>
	<string>iklogo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436224948921:ios:48cf5598accecaa012f968</string>
	<key>DATABASE_URL</key>
	<string>https://iklogo-default-rtdb.firebaseio.com</string>
</dict>
</plist>